html {
  height: 100%;
}
#navigate {
  background-color: black;
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin: auto;
  padding: auto;
  margin-bottom: 10px;
  max-width: 100%;
  border-bottom: 2px solid #6599FF;
}
#navigate a {
  float: left;
  color: #6599FF;
  text-align: center;
  margin: auto;
  text-decoration: none;
  font-size: 20px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: bold;
  font-family: "Helvetica";
}
#navigate a:hover {
  background-color: black;
  color: rgb(203, 13, 13);
}
nav {
  display: flex;
}
header ul {
  padding: 0;
  margin-left: 10vw;
  margin-top: 6vh;
}
header ul li {
  list-style: none;
  margin: 0 0 0 4vw;
  padding: 4px;
  display: inline-block;
}
header ul li a {
  text-decoration: none;
  color: #509de6;
  background-color: black;
  padding: 8px;
  border: 1px solid white;
}
body {
  background-color: black;
  text-align: center;
  font-family: Helvetica;
  margin: 0;
  height: 100%;
  background: url("https://cdn.glitch.com/704db374-f31e-4e6f-8d2d-9803ea702f0a%2Fhusk.png?v=1607650948593");
  background-size: cover;
  background-attachment: scroll;
}
p {
  color: #509de6;
}
#textinput {
  /*  TODO 2.*/
  font-family: "Lucida Console", Courier, monospace;
  /*  TODO 1.*/
  border-bottom: 5px solid;
  width: 400px;
  height: 50px;
  font-size: 20px;
  text-align: center;
}
#stockInfo {
  font-family: "Times New Roman", Times, serif;
  color: white;
  margin: 2em;
}
.apireturn {
  color: #6599FF;
}
.js {
  text-align: center;
  margin: 0 auto;
  max-width: 20%;
  border-radius: 10px;
  font-family: Helvetica;
  color: black;
}
#jstitle {
  text-align: center;
  margin: 0 auto;
  max-width: 20%;
  border-radius: 10px;
  font-family: Helvetica;
  color: #6599FF;
  background: black;
}
.box {
  display: inline-block;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
#list {
  margin: 0 auto;
  width: 300px;
  background-color: white;
  border: 3px solid #509de6;
  padding: 15px;
  color: blue;
}
#Ticker {
  font-family: Helvetica;
}
#content {
  border: 3px solid #509de6;
  background-color: whitesmoke;
  color: black;
}

#hone {
  color: #509de6;
  font-family: Helvetica;
}

#sectors {
  text-align: center;
  background-color: white;
  width: 100vw;
  height: 10vh;
  margin-top: 5vh;
}

#sectors p {
  color: #509de6;
  font-size: 30px;
  padding: 3vh;
}

#sector-list {
  color: white;
}

#balanceS p {
  padding: 3vh 0vw;
  color: #509de6;
  font-size: 20px;
}
#balanceS ul {
  color: white;
  font-size: 10px;
  list-style: none;
  width: 60vw;
  margin: 0 auto;
  text-align: center;
  padding: 2vh 0vw;
}

#balanceS ul li {
  margin-bottom: 1vh;
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
}

.paragraph-title {
  margin-bottom: 2vh;
  font-size: 30px;
  font-weight: bold;
  color: #509de6;
}

.contain {
  border: 2px solid white;
  border-radius: 10px;
  max-width: 45%;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
  background: black;
}

.contain p {
  color: white;
  font-size: 20px;
}

ul {
  margin: auto;
}

.title {
  font-size: 30px;
  color: #509de6;
}

#equation-img {
  height: 50vh;
}
